<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Pallavi Jain/Desktop/BAPI_Test/aboutYou_CodeChallenge">
        <classes>
            <class name="testCases.productSearchUsingFilters">
                <methods>
                    <include name="searchProductWithMultipleFilters"/>
                    <include name="searchByWomenSFilterInMenSCategory"/>
                    <include name="searchByInvalidCharacters"/>
                    <include name="maxPriceIsLessThanMinPrice"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>